{% block html_head_container %}
{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}
<body class="style-default style-rounded {{body_class}}" data-template="base.twig">

		<div class="uk-position-relative">
			{% block heading %}{% endblock %}
		</div>

		{% block content %}
			Sorry, no content
		{% endblock %}

		{% block footer %}

			{% include 'footer.twig' %}

			{% include "script.twig" %}

			{{ function('wp_footer') }}

		{% endblock %}

</body>
</html>
