{% extends "base.twig" %}
{% block content %}
	<div class="main-container container" id="main-container">

		<!-- Content -->
		<div class="row my-5">


			<!-- Sidebar -->
			<aside class="col-lg-3">

				<div class="entry card">
					<div class="entry__body card__body">
						{% include 'menu_member.twig' %}
					</div>
				</div>

			</aside> <!-- end sidebar -->
			<!-- Posts -->
			<div class="col-lg-9 col-12 blog__content">

				<div class="entry card">

					<article class="entry__body post-list__body card__body post-type-{{post.post_type}}" id="post-{{post.ID}}">
						{% include template_from_string(post.content) %}
					</article>
				</div>
			</div> <!-- end posts -->

		</div> <!-- end content -->

	</div>

{% endblock %}
