{% extends "base.twig" %}

{% block heading %}
	<div class="">
		{% include 'menu.twig' %}
	</div>
{% endblock %}

{% block content %}

<div class="uk-section-large border-0 border-b-2 border-solid border-primary">
	<div class="uk-container">
		<h1 class="md:font-zapfino text-center text-primary text-4xl md:text-[120px] md:mb-24" uk-scrollspy="cls: uk-animation-slide-top-medium; delay: 600; repeat: true">{{ post.title }}</h1>

		<div>
			{{ post.content }}
		</div>
	</div>
</div>

{% endblock %}
