<div class="flex flex-row md:flex-col w-full justify-center pr-5 2xl:pr-10 py-6 md:py-0">
    <a href="{{ options.linkedin }}"  class="text-2xl md:text-4xl text-white hover:text-primary md:mb-7 mx-5 flex items-center justify-center" target="_blank" uk-scrollspy="cls: uk-animation-shake; delay: 500; repeat: true"><i class="fab fa-linkedin"></i></a>
    <a href="{{ options.facebook }}" class="text-2xl md:text-4xl text-white hover:text-primary md:mb-7 mx-5 flex items-center justify-center" target="_blank" uk-scrollspy="cls: uk-animation-shake; delay: 500; repeat: true"><i class="fab fa-facebook"></i></a>
    <a href="{{ options.instagram }}" class="text-2xl md:text-4xl text-white hover:text-primary mx-5 flex items-center justify-center" target="_blank" uk-scrollspy="cls: uk-animation-shake; delay: 500; repeat: true"><i class="fab fa-instagram"></i></a>
</div>
